@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 9%;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 999;
  background-color: #fff;
}

header .logo {
  color: #5f5fff;
  font-size: 20px;
  font-weight: bold;
}

header .logo span {
  color: #ff3e6c;
}

header .navbar a {
  font-size: 18px;
  margin-left: 20px;
  color: #5f5fff;
}

header .navbar a:hover {
  color: #ff3e6c;
}

header input {
  display: none;
}

header label {
  visibility: hidden;
  cursor: pointer;
  opacity: 0;
  color: #5f5fff;
}

section {
  min-height: 100vh;
  padding: 75px 9% 0 9%;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 30px;
  border-radius: 10px;
  color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: linear-gradient(60deg, #5f5fff, #ff3e6c);
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .heroText {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.hero .heroText h3 {
  text-transform: uppercase;
  font-size: 50px;
  color: #5f5fff;
}

.hero .heroText h3 span {
  color: #ff3e6c;
  text-transform: uppercase;
}

.hero .heroText p {
  padding: 10px 0;
  color: #666;
  font-size: 16px;
}

.hero .heroImage {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.hero .heroImage img {
  width: 40vw;
}

.heading {
  text-align: center;
  background: linear-gradient(60deg, #5f5fff, #ff3e6c);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 35px;
  text-transform: uppercase;
  padding: 10px;
}

.features {
  background-color: #f9f9f9;
}

.features .boxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features .boxContainer .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 22%;
          flex: 1 1 22%;
  background-color: #fff;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
}

.features .boxContainer .box img {
  height: 120px;
}

.features .boxContainer .box h3 {
  color: #333;
  font-size: 16px;
  padding-top: 10px;
}

.features .boxContainer .box p {
  color: #666;
  font-size: 12px;
  padding: 10px 0;
}

.features .viewMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.about .boxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .boxContainer .aboutImage {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.about .boxContainer .aboutImage img {
  width: 30vw;
}

.about .boxContainer .aboutText {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.about .boxContainer .aboutText h3 {
  color: #5f5fff;
  font-size: 40px;
}

.about .boxContainer .aboutText h3 span {
  color: #ff3e6c;
}

.about .boxContainer .aboutText p {
  color: #666;
  font-size: 16px;
  padding: 10px 0;
}

.testimonials .boxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonials .boxContainer .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  padding: 15px;
  margin: 15px;
  border: 0.2px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.testimonials .boxContainer .box img {
  border-radius: 50%;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  height: 120px;
}

.testimonials .boxContainer .box h3 {
  color: #333;
}

.testimonials .boxContainer .box p {
  color: #666;
}

.testimonials .moreTestimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

footer .footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 9%;
  margin: 100px 0;
}

footer .footerContainer .aboutPlatform {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

footer .footerContainer .aboutPlatform ul {
  list-style: none;
}

footer .footerContainer .aboutPlatform ul li {
  line-height: 30px;
  color: #5f5fff;
}

footer .footerContainer .quickLinks {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}

footer .footerContainer .quickLinks ul {
  list-style: none;
}

footer .footerContainer .quickLinks ul li {
  line-height: 30px;
}

footer .footerContainer .quickLinks ul li a {
  color: #5f5fff;
}

footer .footerContainer .quickLinks ul li a:hover {
  color: #ff3e6c;
}

footer .footerContainer .socialMedia {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

footer .footerContainer .socialMedia p {
  color: #5f5fff;
}

footer .footerContainer .credit {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  line-height: 30px;
}

footer .footerContainer .credit p {
  color: #5f5fff;
}

footer .footerContainer .credit a {
  color: #5f5fff;
  font-size: 20px;
  font-weight: bold;
}

footer .footerContainer .credit a span {
  color: #ff3e6c;
}

.contact .boxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.contact .boxContainer aside {
  width: 40%;
  margin: 20px;
  padding: 15px;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.contact .boxContainer aside img {
  width: 70%;
}

.contact .boxContainer aside h3 {
  color: #333;
  font-size: 20px;
}

.contact .boxContainer aside ul {
  list-style: none;
}

.contact .boxContainer aside ul li {
  font-size: 16px;
  color: #666;
}

@media (max-width: 1200px) {
  .hero .heroText h3,
  .hero .heroText span {
    font-size: 40px;
  }
  .contact .boxContainer aside {
    width: 50%;
  }
}

@media (max-width: 991px) {
  section {
    padding: 0 3%;
  }
  .contact .boxContainer aside {
    width: 60%;
  }
}

@media (max-width: 768px) {
  header label {
    visibility: visible;
    opacity: 1;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 5px 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  header .navbar a {
    display: block;
    margin: 10px 0;
    font-size: 16px;
    text-align: center;
  }
  header input:checked ~ .navbar {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .hero .heroImage img {
    width: 90%;
  }
  .about .boxContainer .aboutImage {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .about .boxContainer .aboutImage img {
    width: 80%;
    margin: 20px 20px;
  }
  .about .boxContainer .aboutText {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
  }
  .contact .boxContainer aside {
    width: 80%;
  }
  footer .footerContainer .aboutPlatform {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  footer .footerContainer .quickLinks {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  footer .footerContainer .socialMedia {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin-top: 20px;
  }
  footer .footerContainer .credit {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin-top: 20px;
  }
}

@media (max-width: 450px) {
  .testimonials .boxContainer .box {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  footer .footerContainer {
    text-align: center;
  }
  footer .footerContainer .aboutPlatform {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  footer .footerContainer .quickLinks {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-top: 20px;
  }
  footer .footerContainer .socialMedia {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-top: 20px;
  }
  footer .footerContainer .credit {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */