@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

$colorPrimary: #5f5fff;
$colorSecondary: #ff3e6c;
$colorLight: #8facff;
$boxShadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
$gradient: linear-gradient(60deg, $colorPrimary, $colorSecondary);

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-color: #fff;
}

// Header
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 9%;
  box-shadow: $boxShadow;
  z-index: 999;
  background-color: #fff;

  .logo {
    color: $colorPrimary;
    font-size: 20px;
    font-weight: bold;

    span {
      color: $colorSecondary;
    }
  }

  .navbar {
    a {
      font-size: 18px;
      margin-left: 20px;
      color: $colorPrimary;

      &:hover {
        color: $colorSecondary;
      }
    }
  }

  input {
    display: none;
  }

  label {
    visibility: hidden;
    cursor: pointer;
    opacity: 0;
    color: #5f5fff;
  }
}
// Header

// Section
section {
  min-height: 100vh;
  padding: 75px 9% 0 9%;
}
// Section

// button style
.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 30px;
  border-radius: 10px;
  color: #fff;
  box-shadow: $boxShadow;
  transition: all 0.3s linear;
  background: $gradient;

  &:hover {
    transform: scale(1.1);
  }
}
// button style

// Hero Section
.hero {
  display: flex;
  align-items: center;
  justify-content: center;

  .heroText {
    flex: 1 1 50%;

    h3 {
      text-transform: uppercase;
      font-size: 50px;
      color: $colorPrimary;

      span {
        color: $colorSecondary;
        text-transform: uppercase;
      }
    }

    p {
      padding: 10px 0;
      color: #666;
      font-size: 16px;
    }
  }

  .heroImage {
    flex: 1 1 50%;
    img {
      width: 40vw;
    }
  }
}
// Hero Section

// Heading
.heading {
  text-align: center;
  background: $gradient;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 35px;
  text-transform: uppercase;
  padding: 10px;
}
// Heading

// Features Section
.features {
  background-color: #f9f9f9;
  .boxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .box {
      flex: 1 1 22%;
      background-color: #fff;
      border: 0.1px solid rgba(0, 0, 0, 0.1);
      box-shadow: $boxShadow;
      text-align: center;
      border-radius: 10px;
      margin: 15px;
      padding: 10px;

      img {
        height: 120px;
      }

      h3 {
        color: #333;
        font-size: 16px;
        padding-top: 10px;
      }

      p {
        color: #666;
        font-size: 12px;
        padding: 10px 0;
      }
    }
  }

  .viewMore {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}
// Features Section

// About Section
.about {
  .boxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .aboutImage {
      flex: 1 1 50%;
      img {
        width: 30vw;
      }
    }

    .aboutText {
      flex: 1 1 50%;

      h3 {
        color: $colorPrimary;
        font-size: 40px;

        span {
          color: $colorSecondary;
        }
      }

      p {
        color: #666;
        font-size: 16px;
        padding: 10px 0;
      }
    }
  }
}
// About Section

// Testimonials Section
.testimonials {
  .boxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .box {
      flex: 1 1 30%;
      padding: 15px;
      margin: 15px;
      border: 0.2px solid rgba(0, 0, 0, 0.1);
      box-shadow: $boxShadow;
      text-align: center;

      img {
        border-radius: 50%;
        border: 0.1px solid rgba(0, 0, 0, 0.1);
        height: 120px;
      }

      h3 {
        color: #333;
      }

      p {
        color: #666;
      }
    }
  }

  .moreTestimonials {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
// Testimonials Section

// Footer
footer {
  .footerContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 9%;
    margin: 100px 0;

    .aboutPlatform {
      flex: 1 1 30%;

      ul {
        list-style: none;

        li {
          line-height: 30px;
          color: $colorPrimary;
        }
      }
    }

    .quickLinks {
      flex: 1 1 20%;

      ul {
        list-style: none;

        li {
          line-height: 30px;

          a {
            color: $colorPrimary;

            &:hover {
              color: $colorSecondary;
            }
          }
        }
      }
    }

    .socialMedia {
      flex: 1 1 25%;

      p {
        color: $colorPrimary;
      }
    }

    .credit {
      flex: 1 1 25%;
      line-height: 30px;

      p {
        color: $colorPrimary;
      }

      a {
        color: $colorPrimary;
        font-size: 20px;
        font-weight: bold;
        span {
          color: $colorSecondary;
        }
      }
    }
  }
}
// Footer

// contact section
.contact {
  .boxContainer {
    display: flex;
    justify-content: center;
    text-align: center;

    aside {
      width: 40%;
      margin: 20px;
      padding: 15px;
      border: 0.1px solid rgba(0, 0, 0, 0.1);
      box-shadow: $boxShadow;

      img {
        width: 70%;
      }

      h3 {
        color: #333;
        font-size: 20px;
      }

      ul {
        list-style: none;

        li {
          font-size: 16px;
          color: #666;
        }
      }
    }
  }
}
// contact section

// Media Queries
@media (max-width: 1200px) {
  .hero {
    .heroText {
      h3,
      span {
        font-size: 40px;
      }
    }
  }

  .contact {
    .boxContainer {
      aside {
        width: 50%;
      }
    }
  }
}

@media (max-width: 991px) {
  section {
    padding: 0 3%;
  }

  .contact {
    .boxContainer {
      aside {
        width: 60%;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    label {
      visibility: visible;
      opacity: 1;
    }

    .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      padding: 5px 10px;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: $boxShadow;
      transform-origin: top;
      transform: scaleY(0);
      opacity: 0;
      transition: 0.2s linear;

      a {
        display: block;
        margin: 10px 0;
        font-size: 16px;
        text-align: center;
      }
    }

    input:checked ~ .navbar {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  .hero {
    flex-flow: column-reverse;

    .heroImage {
      img {
        width: 90%;
      }
    }
  }

  .about {
    .boxContainer {
      .aboutImage {
        flex: 1 1 100%;
        img {
          width: 80%;
          margin: 20px 20px;
        }
      }

      .aboutText {
        flex: 1 1 100%;

        text-align: center;
      }
    }
  }

  .contact {
    .boxContainer {
      aside {
        width: 80%;
      }
    }
  }

  footer {
    .footerContainer {
      .aboutPlatform {
        flex: 1 1 50%;
      }

      .quickLinks {
        flex: 1 1 50%;
      }

      .socialMedia {
        flex: 1 1 50%;
        margin-top: 20px;
      }

      .credit {
        flex: 1 1 50%;
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 450px) {
  .testimonials {
    .boxContainer {
      .box {
        flex: 1 1 100%;
      }
    }
  }

  footer {
    .footerContainer {
      text-align: center;
      .aboutPlatform {
        flex: 1 1 100%;
      }

      .quickLinks {
        flex: 1 1 100%;
        margin-top: 20px;
      }

      .socialMedia {
        flex: 1 1 100%;
        margin-top: 20px;
      }

      .credit {
        flex: 1 1 100%;
        margin-top: 20px;
      }
    }
  }
}
