@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 9%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  background-color: #fff;
}

header .logo {
  color: #5f5fff;
  font-size: 20px;
  font-weight: bold;
}

header .logo span {
  color: #ff3e6c;
}

header .navbar a {
  font-size: 16px;
  margin-left: 20px;
  color: #5f5fff;
}

header .navbar a:hover {
  color: #ff3e6c;
}

header .navbar .btn-register {
  color: #fff;
}

header .navbar .btn-register:hover {
  color: #fff;
}

header input {
  display: none;
}

header label {
  visibility: hidden;
  cursor: pointer;
  opacity: 0;
  color: #5f5fff;
}
/* Header */

section {
  padding: 75px 9% 20px 9%;
}

/* Button Style */
.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 30px;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  background: #5f5fff;
}

.btn:hover {
  background: #ff3e6c;
}
/* Button Style */

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.hero .heroText {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}

.hero .heroText h3 {
  text-transform: uppercase;
  font-size: 50px;
  color: #5f5fff;
}

.hero .heroText h3 span {
  color: #ff3e6c;
  text-transform: uppercase;
}

.hero .heroText p {
  padding: 10px 0;
  color: #666;
  font-size: 16px;
}

.hero .heroImage {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}

.hero .heroImage img {
  width: 40vw;
}
/* Hero Section */

/* title Style */
.title {
  text-align: center;
  color: #5f5fff;
  font-size: 35px;
  text-transform: uppercase;
  padding: 10px;
  transition: 0.2s linear;
}
/* title Style */

/* features Section */
.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  background: #eef4ff;
}

.features .featuresTitle {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}
.features .featuresTitle h1 {
  color: #5f5fff;
  text-transform: uppercase;
  font-size: 35px;
  transition: 0.2s linear;
}

.features .featuresTitle p {
  color: #666;
}

.features .featuresServices {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}

.features .featuresServices .cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.features .featuresServices .cardContainer .card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 45%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 10px;
  background: #fff;
}

.features .featuresServices .cardContainer .card img {
  height: 100px;
}

/* features Section */

/* Class Package Section */
.classPackage {
  background: #fff;
}

.classPackage article .cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.classPackage article .cardContainer .card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 22%;
  background-color: #fff;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  transition: 0.2s linear;
}

.classPackage article .cardContainer .card:hover {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.27);
  transform: scale(1.02);
}

.classPackage article .cardContainer .card img {
  height: 120px;
}

.classPackage article .cardContainer .card h3 {
  color: #333;
  font-size: 16px;
  padding-top: 10px;
}

.classPackage article .cardContainer .card p {
  color: #666;
  font-size: 12px;
  padding: 10px 0;
}

.classPackage article .viewMore {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* Class Packager Section */

/* About Section */
.about {
  background: #eef4ff;
}

.about .cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about .cardContainer .aboutImage {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}

.about .cardContainer .aboutImage img {
  width: 30vw;
}

.about .cardContainer .aboutText {
  flex: 1 1 50%;
}

.about .cardContainer .aboutText h3 {
  color: #5f5fff;
  font-size: 40px;
}

.about .cardContainer .aboutText h3 span {
  color: #ff3e6c;
}

.about .cardContainer .aboutText p {
  color: #666;
  font-size: 16px;
  padding: 10px 0;
}
/* About Section */

/* Testimonials Section */
.testimonials {
  background-color: #fff;
}

.testimonials .cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.testimonials .cardContainer .card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;
  padding: 15px;
  margin: 15px;
  border: 0.2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.2s linear;
  border-radius: 10px;
  background: #fff;
}

.testimonials .cardContainer .card:hover {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.27);
  transform: scale(1.02);
}

.testimonials .cardContainer .card img {
  border-radius: 50%;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  height: 120px;
}

.testimonials .cardContainer .card h3 {
  color: #333;
  padding: 15px 0;
}

.testimonials .cardContainer .card p {
  color: #666;
}

.testimonials .moreTestimonials {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
/* Testimonials Seciton */

/* Footer*/
footer .footerContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 9%;
  margin: 100px 0;
}

footer .footerContainer .aboutPlatform {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;
}

footer .footerContainer .aboutPlatform ul {
  list-style: none;
}

footer .footerContainer .aboutPlatform ul li {
  line-height: 30px;
  color: #5f5fff;
}

footer .footerContainer .siteMaps {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 20%;
}

footer .footerContainer .siteMaps p {
  color: #5f5fff;
  font-weight: bold;
}

footer .footerContainer .siteMaps ul {
  list-style: none;
}

footer .footerContainer .siteMaps ul li {
  line-height: 30px;
}

footer .footerContainer .siteMaps ul li a {
  color: #5f5fff;
}

footer .footerContainer .siteMaps ul li a:hover {
  color: #ff3e6c;
}

footer .footerContainer .socialMedia {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25%;
}

footer .footerContainer .socialMedia p {
  color: #5f5fff;
  font-weight: bold;
}

footer .footerContainer .socialMedia ul {
  list-style: none;
}

footer .footerContainer .socialMedia ul li {
  line-height: 30px;
}

footer .footerContainer .socialMedia ul li a {
  color: #5f5fff;
}

footer .footerContainer .socialMedia ul li a:hover {
  color: #ff3e6c;
}

footer .footerContainer .credit {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25%;
  line-height: 30px;
}

footer .footerContainer .credit p {
  color: #5f5fff;
}

footer .footerContainer .credit a {
  color: #5f5fff;
  font-size: 20px;
  font-weight: bold;
}

footer .footerContainer .credit a span {
  color: #ff3e6c;
}
/* Footer */

/* Contact Section */
.contact {
  background: #eef4ff;
}

.contact .cardContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.contact .cardContainer aside {
  width: 40%;
  margin: 20px;
  padding: 15px;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.2s linear;
  border-radius: 10px;
  background: #fff;
}

.contact .cardContainer aside:hover {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.27);
  transform: scale(1.02);
}

.contact .cardContainer aside img {
  width: 70%;
}

.contact .cardContainer aside h3 {
  color: #333;
  font-size: 20px;
  padding: 15px 0;
}

.contact .cardContainer aside p {
  color: #666;
  font-size: 16px;
}

/* Contact Section */

/* Media queries */
@media (max-width: 1200px) {
  .hero .heroText h3,
  .hero .heroText span {
    font-size: 40px;
  }
  .contact .cardContainer aside {
    width: 50%;
  }
}

@media (max-width: 991px) {
  section {
    padding: 75px 3% 20px 3%;
  }

  .contact .cardContainer aside {
    width: 60%;
  }

  .testimonials .cardContainer .card h3 {
    font-size: 16px;
  }

  .testimonials .cardContainer .card p {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  header label {
    visibility: visible;
    opacity: 1;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 5px 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform-origin: Rigt;
    transform: scaleX(0);
    opacity: 0;
    transition: 0.2s linear;
  }

  header .navbar a {
    display: block;
    margin: 10px 0;
    font-size: 16px;
    text-align: center;
  }

  header input:checked ~ .navbar {
    transform: scaleX(1);
    opacity: 1;
  }

  .hero {
    flex-flow: column-reverse;
  }

  .hero .heroImage img {
    width: 90%;
  }

  .features {
    flex-direction: column;
  }

  .features .featuresTitle {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .features .featuresServices {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
  }

  .about .cardContainer .aboutImage {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
  }

  .about .cardContainer .aboutImage img {
    width: 80%;
    margin: 20px 20px;
  }

  .about .cardContainer .aboutText {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    text-align: center;
  }

  .contact .cardContainer aside {
    width: 80%;
  }

  footer .footerContainer .aboutPlatform {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
  }

  footer .footerContainer .siteMaps {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
  }

  footer .footerContainer .socialMedia {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
    margin-top: 20px;
  }

  footer .footerContainer .credit {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
    margin-top: 20px;
  }
}

@media (max-width: 450px) {
  .testimonials .cardContainer .card {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
  }

  footer .footerContainer {
    text-align: center;
  }

  footer .footerContainer .aboutPlatform {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
  }

  footer .footerContainer .siteMaps {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    margin-top: 20px;
  }

  footer .footerContainer .socialMedia {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    margin-top: 20px;
  }

  footer .footerContainer .credit {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    margin-top: 20px;
  }
}
